[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
molecule = "~=25.4"
molecule-plugins = {extras = ["docker"], version = "~=23.7"}
yamllint = "~=1.37"
ansible-lint = "~=25.4"
