route:
  receiver: '{{ gc_alertmanager_default_receiver }}'
  group_by: [ alertname ]

receivers:
{% if gc_alertmanager_receivers %}
{# to_nice_json because PyYAML is a freaking mess w/ dict lists and offsets #}
  {{ gc_alertmanager_receivers | to_nice_json }}
{% else %}
  - name: 'black-hole'
{% endif %}
