[Unit]
Description=Grafana Compose Grafana Stack
Requires=docker.service
After=docker.service

[Service]
{% if gc_service_user != 'root' %}
User={{ gc_service_user }}
{% endif %}
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ gc_base_directory_sanitized }}/GrafanaCompose
ExecStart={{ gc_docker_bin_dir_sanitized }}/{{ gc_compose_command }} up -d
ExecStop={{ gc_docker_bin_dir_sanitized }}/{{ gc_compose_command }} down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target