---
name: CI
on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.gitignore'

jobs:
  lint:
    name: YAML linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v3

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install test dependencies
        run: pip3 install yamllint

      - name: Lint YAML code
        run: |
          yamllint .

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - dfuchs/alma-8-ansible
          - dfuchs/alma-9-ansible
          - dfuchs/debian-11-ansible
          - dfuchs/ubuntu-22.04-ansible

    steps:
      - name: Check out the codebase
        uses: actions/checkout@v3

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install test dependencies
        run: pip3 install --upgrade pip && pip3 install ansible ansible-lint molecule molecule-plugins[docker] docker

      - name: Downgrade requests to 2.29.0 (https://github.com/docker/docker-py/issues/3113)
        run: pip3 install requests==2.29.0 --force-reinstall

      - name: Run Molecule tests (default)
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE: ${{ matrix.image }}
          MOLECULE_PLAYBOOK: converge_default.yml

      - name: Run Molecule tests (service management)
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE: ${{ matrix.image }}
          MOLECULE_PLAYBOOK: converge_service_enabled.yml

      - name: Run Molecule tests (service user)
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE: ${{ matrix.image }}
          MOLECULE_PLAYBOOK: converge_service_user.yml

      - name: Run Molecule tests (proxy disabled)
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE: ${{ matrix.image }}
          MOLECULE_PLAYBOOK: converge_service_user.yml

      - name: Run Molecule tests (bind mounts)
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE: ${{ matrix.image }}
          MOLECULE_PLAYBOOK: converge_bind_mounts.yml

      - name: Run Molecule tests (alertmanager receivers)
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE: ${{ matrix.image }}
          MOLECULE_PLAYBOOK: converge_alertmanager_receivers.yml
